extends ../../template/template.pug
include ../../blocks/heading/heading.pug
include ../../blocks/social/social.pug
include ../../blocks/card/card.pug
include ../../blocks/components/article-info/article-info.pug

block mainwrapper
  .page
    +heading({
      class: 'article-page',
      breadcrumbs: ["Блог", "Рыбатекст используется дизайнерами, проектировщиками и фронтендерами"],
      title: "Рыбатекст используется дизайнерами, проектировщиками и фронтендерами",
    })
    section.section--mb-120.article
      .container.container--small
        +article-info({date: "13 декабря 2022", tag: "Советы", views: "126"}).article__info
        .article__img-wrapper
          img.article__img(src="../../img/image-content/article-banner.png")
        .article__content
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
          p
            | Это
            |
            a(href="") тестовый контент,
            |  который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          figure
            img(src="../../img/image-content/article-img.png")(alt="Подпись к фотографии, если она нужна")(title="Подпись к фотографии, если она нужна")
            figcaption Подпись к фотографии, если она нужна
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          ol
            li Рыбатекст используется дизайнерами, проектировщиками и фронтендерами
            li Когда нужно быстро заполнить макеты или прототипы содержимым
            li Это тестовый контент, который не должен нести никакого смысла
            li Лишь показать наличие самого текста или продемонстрировать типографику в деле
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не до нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          h2 Когда нужно быстро заполнить макеты (Заголовок h2)
          h3 Или прототипы содержимым (Заголовок h3)
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не до нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          ul
            li Но внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании экономической целесообразности принимаемых решений.
            li Как уже неоднократно упомянуто, интерактивные прототипы объективно рассмотрены соответствующими инстанциями. Картельные сговоры не допускают ситуации, при которой интерактивные прототипы лишь добавляют фракционных разногласий и представлены в исключительно положительном свете.
            li С учётом сложившейся международной обстановки, сплочённость команды профессионалов не оставляет шанса для системы массового участия.
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не до нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          blockquote Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым (цитата)
          p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не до нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          table
            tbody
              tr
                td
                  p Мощность, кВт
                td
                  p Расход топлива при загрузке 100%, л/ч
                td
                  p Расход топлива при загрузке 75%, л/ч
                td
                  p Расход топлива при загрузке 50%, л/ч
              tr
                td
                  p 5
                td
                  p 1
                td
                  p 0,75
                td
                  p 0,5
              tr
                td
                  p 8
                td
                  p 1,6
                td
                  p 1,2
                td
                  p 0,8
              tr
                td
                  p 10
                td
                  p 2
                td
                  p 1,5
                td
                  p 1
              tr
                td
                  p 25
                td
                  p 5
                td
                  p 3,75
                td
                  p 2,5
              tr
                td
                  p 50
                td
                  p 10
                td
                  p 7,5
                td
                  p 5
              tr
                td
                  p 100
                td
                  p 20
                td
                  p 15
                td
                  p 10
              tr
                td
                  p 200
                td
                  p 40
                td
                  p 30
                td
                  p 20
          h3 Или прототипы содержимым (Заголовок h3)
          p  Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не до нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        .article__social
          p.article__social-text Поделится
          +social({repost: true})
    section.section--mb-120.recommendation
      .container
        .section__top.section__top--mb-60
          h2 Читайте также
        .recommendation__list
          +card({
            image: 'blog-1.png',
            title: 'Давайте не забывать, что новая модель организационной деятельности разочаровала',
            tag: 'Советы',
            date: '13 декабря 2022',
            views: '126'
          }).recommendation__card
          +card({
            image: 'blog-2.png',
            title: 'Финансовый мир очнулся: звук клавиш печатной машинки определил дальнейшее развитие',
            tag: 'Советы',
            date: '13 декабря 2022',
            views: '126'
          }).recommendation__card
        a.button.button--full-width(href="/") Назад в блог
