.modal.modal--policy(data-modal="policy")
  .modal__close(data-modal-close="")
  .modal__title.modal__title--policy
    span Политика конфиденциальности
  .modal__container(data-scroll-container="")
    .modal__content
      ol
        li.title Общие положения
          ol
            li Но внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании экономической целесообразности принимаемых решений. Как уже неоднократно упомянуто, интерактивные прототипы объективно рассмотрены соответствующими инстанциями. Картельные сговоры не допускают ситуации, при которой интерактивные прототипы лишь добавляют фракционных разногласий и представлены в исключительно положительном свете. С учётом сложившейся международной обстановки, сплочённость команды профессионалов не оставляет шанса для системы массового участия. Однозначно, непосредственные участники технического прогресса,
              a(href="")  ссылка
            li Но внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании экономической целесообразности принимаемых решений. Как уже неоднократно упомянуто, интерактивные прототипы объективно рассмотрены соответствующими инстанциями. Картельные сговоры не допускают ситуации, при которой интерактивные прототипы лишь добавляют фракционных разногласий и представлены в исключительно положительном свете. С учётом сложившейся международной обстановки, сплочённость команды профессионалов не оставляет шанса для системы массового участия. Однозначно, непосредственные участники технического прогресса,
            li Но внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании экономической целесообразности принимаемых решений. Как уже неоднократно упомянуто, интерактивные прототипы объективно рассмотрены соответствующими инстанциями. Картельные сговоры не допускают ситуации, при которой интерактивные прототипы лишь добавляют фракционных разногласий и представлены в исключительно положительном свете. С учётом сложившейся международной обстановки, сплочённость команды профессионалов не оставляет шанса для системы массового участия. Однозначно, непосредственные участники технического прогресса,
              ol
                li В частности, новая модель организационной деятельности не даёт нам иного выбора, кроме определения системы обучения кадров, соответствующей насущным потребностям.
                li В частности, новая модель организационной деятельности не даёт нам иного выбора, кроме определения системы обучения кадров, соответствующей насущным потребностям.
                li В частности, новая модель организационной деятельности не даёт нам иного выбора, кроме определения системы обучения кадров, соответствующей насущным потребностям.
