.banner-slide {
  display: flex;
  align-items: end;
  width: 100%;
  min-height: 760px;
  padding: 120px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__conteiner {
    max-width: 1316px;
    width: 100%;
    padding: 0 18px;
    margin: 0 auto;
  }

  &__content {
    max-width: 716px;
  }

  &__title {
    font-family: $font-unbounded;
    margin-bottom: 32px;
    font-size: 52px;
    font-weight: 500;
    line-height: 110%;
    color: $color-white;
    @include media(max, 575) {
      font-size: 32px;
      font-weight: 500;
      line-height: 110%;
    }
  }
}
