// colors
$color-black: #292929;
$color-background: #212122;
$color-border: #737373;
$color-grey: #D1D1D1;
$color-grey-another: #E5E5E5;
$color-white: #FFFFFF;
$color-text-main: #F2F1F1;
$color-red: #C31117;
$color-red-light: #EF261C;
$color-red-super-light: #F36D68;
$color-error: red;
$color-star: yellow;

// font-family

$font-roboto: "Roboto", Arial, sans-serif;
$font-unbounded: "Unbounded", Arial, sans-serif;
$font-ibm: "IBM Plex Sans";
// transition

$transition: .3s ease;
$transition-long: .7s ease;
