extends ../../template/template.pug

block mainwrapper
  .page
    section.section.section--mb-120.not-found
      .container
        .not-found__container
          .not-found__title
            h1  Упс, 404
          .not-found__text
            p К сожалению, запрашиваемая вами страница была перемещена или удалена, а, возможно, её никогда не было
          a(href="/").button.not-found__button На главную
